bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# SQLite files
*.db
*.db-shm
*.db-wal

# JetBrains Rider
.idea/
*.sln.iml

# Node.js Tools for Visual Studio
.ntvs_analysis.dat
node_modules/

# macOS files
.DS_Store
.AppleDouble
.LSOverride